@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
html, body {
     height: 100%;
     background: url('../img/bg-dark.png');
     font-family: 'Montserrat', sans-serif;
}


.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.2);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.2);
}
/** ===============FORM LOGIN=================*/
/* sign in FORM */
#logreg-forms{
     width:412px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 90px;
     
     
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
 #logreg-forms form {
     width: 100%;
     max-width: 410px;
     padding: 15px;
     margin: auto;
     background-color:#f3f3f3;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 #logreg-forms .form-control {
     position: relative;
     box-sizing: border-box;
     height: auto;
     padding: 10px;
     font-size: 16px;
 }
 #logreg-forms .form-control:focus { z-index: 2; }
 #logreg-forms .form-signin input[type="email"] {
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }
 #logreg-forms .form-signin input[type="password"] {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }
 
 #logreg-forms .social-login{
     width:390px;
     margin:0 auto;
     margin-bottom: 14px;
 }
 #logreg-forms .social-btn{
     display: inline-block;
     font-weight: 100;
     color:white;
     width:190px;
     font-size: 0.9rem;
 }
 
 #logreg-forms a{
     display: block;
     padding-top:10px;
     color:lightseagreen;
 }
 
 #logreg-form .lines{
     width:200px;
     border:1px solid red;
 }
 
 
 #logreg-forms button[type="submit"]{ margin-top:10px; }
 
 #logreg-forms .facebook-btn{  background-color:#3C589C; }
 
 #logreg-forms .google-btn{ background-color: #DF4B3B; }
 
 #logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }
 
 #logreg-forms .form-signup .social-btn{ width:210px; }
 
 #logreg-forms .form-signup input { margin-bottom: 2px;}
 
 .form-signup .social-login{
     width:210px !important;
     margin: 0 auto;
 }
 
 /* Mobile */
 
 @media screen and (max-width:500px){
     #logreg-forms{
         width:300px;
     }
     
     #logreg-forms  .social-login{
         width:200px;
         margin:0 auto;
         margin-bottom: 10px;
     }
     #logreg-forms  .social-btn{
         font-size: 1.3rem;
         font-weight: 100;
         color:white;
         width:200px;
         height: 56px;
         
     }
     
     
 }

/** ===============FIN FORM LOGIN=================*/

/** ===============INICIO NAVBARS================*/
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:orange;
}
/* change the color of active or hovered links */

.navbar-custom .nav-item .nav-link {
    color: orange;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #C87D03;
} 
.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
}
.navbar-custom .navbar-brand:hover {
    color: #C87D03; 
}
/** ============== FIN NAVBARS====================*/


/** ============== CARD PELICULAS =================*/
.card-img-top {
    height: 300px;
}
.card_ {
    min-height: 580px !important;
    margin: 20px 0px 20px 0px;
}

/** ============== FINCARD PELICULAS =================*/

/** ============== NAVEGADOR PAGINAS  =================*/
    .pagination {
        margin-top: 30px;
    }
    
    

/** ============== FIN NAVEGADOR PAGINAS====================*/

/** ============== FORM ADD  CINE====================*/

.formulario-add button[type="submit"] {
  margin-left: 190px;
}

/** ============== FIN FORM ADD  CINE====================*/

/** ============== SELECT GENERO PELICULAS ====================*/
    .buscarGenero {
        width: 250px;
    }

    .form-inline input,select {
        margin-right: 40px;
        
    }

/** ============== FIN SELECT GENERO PELICULAS====================*/

.busqueda {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tableCines thead{
    background-color:#C87D03;
}

.tableCines tbody{
    background-color:#fff;
}

.bg-login {
    
    width: 100%;
    height: 100vh;
    background: url('../img/bg-login.jpg') 50% 30% no-repeat;
}
.carousel {
    margin: 20px auto 0px auto;
}
.carousel img {
    width: 340px;
    height: 450px;
}
.carousel-div {
    border-style: none;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}

.titleCarousel {
    background-color: #fff;   
    position: absolute;
    top: 417px;
    display: block;
    width: 100%;
}

.slick-dots li button:before {
    color:#fff !important;
    font-size: 20px;
    line-height: 20px;
}

.title-cine {
    color:orange;
    font-family: 'Oswald', sans-serif;

}
.busqueda label {
    color: #fff;
}
.select_cine {
    width: 300px;
    margin: 30px auto 30px auto;
    background-color: transparent;
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
   
}
.option_cine {
    background-color: #000;
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}
