@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');

html, body {
     height: 100%;
}
body {
     font-family: 'Montserrat', sans-serif;
     
}

.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.2);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.2);
}

.login-form {
     width: 500px;
     border: 2px solid rgba(0, 0, 0, 0.2);
}
