@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
html, body {
     height: 100%;
     background: url('../img/bg-dark.png');
     font-family: 'Montserrat', sans-serif;
}


.height-100 {
     height: 100%;
}

.bg-dark-alpha {
     background-color: rgba(0,0,0,0.2);
}
.bg-light-alpha {
     background-color: rgba(255,255,255,0.2);
}
/** ===============FORM LOGIN=================*/
/* sign in FORM */
#logreg-forms{
     width:412px;
     margin-left: auto;
     margin-right: auto;
     padding-top: 90px;
     
     
   transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
 #logreg-forms form {
     width: 100%;
     max-width: 410px;
     padding: 15px;
     margin: auto;
     background-color:#f3f3f3;
     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
 }
 
 #logreg-forms .form-control {
     position: relative;
     box-sizing: border-box;
     height: auto;
     padding: 10px;
     font-size: 16px;
 }
 #logreg-forms .form-control:focus { z-index: 2; }
 #logreg-forms .form-signin input[type="email"] {
     margin-bottom: -1px;
     border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;
 }
 #logreg-forms .form-signin input[type="password"] {
     border-top-left-radius: 0;
     border-top-right-radius: 0;
 }
 
 #logreg-forms .social-login{
     width:390px;
     margin:0 auto;
     margin-bottom: 14px;
 }
 #logreg-forms .social-btn{
     display: inline-block;
     font-weight: 100;
     color:white;
     width:190px;
     font-size: 0.9rem;
 }
 
 #logreg-forms a{
     display: block;
     padding-top:10px;
     color:lightseagreen;
 }
 
 #logreg-form .lines{
     width:200px;
     border:1px solid red;
 }
 
 
 #logreg-forms button[type="submit"]{ margin-top:10px; }
 
 #logreg-forms .facebook-btn{  background-color:#3C589C; }
 
 #logreg-forms .google-btn{ background-color: #DF4B3B; }
 
 #logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }
 
 #logreg-forms .form-signup .social-btn{ width:210px; }
 
 #logreg-forms .form-signup input { margin-bottom: 2px;}
 
 .form-signup .social-login{
     width:210px !important;
     margin: 0 auto;
 }
 
 /* Mobile */
 
 @media screen and (max-width:500px){
     #logreg-forms{
         width:300px;
     }
     
     #logreg-forms  .social-login{
         width:200px;
         margin:0 auto;
         margin-bottom: 10px;
     }
     #logreg-forms  .social-btn{
         font-size: 1.3rem;
         font-weight: 100;
         color:white;
         width:200px;
         height: 56px;
         
     }
     
     
 }

/** ===============FIN FORM LOGIN=================*/

/** ===============INICIO NAVBARS================*/
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color:orange;
}
/* change the color of active or hovered links */

.navbar-custom .nav-item .nav-link {
    color: orange;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #C87D03;
} 
.navbar-custom .navbar-brand {
    font-weight: 700;
    font-size: 25px;
    font-family: sans-serif;
}
.navbar-custom .navbar-brand:hover {
    color: #C87D03; 
}
/** ============== FIN NAVBARS====================*/


/** ============== CARD PELICULAS =================*/
.card-img-top {
    height: 300px;
}
.card_ {
    min-height: 580px !important;
    margin: 20px 0px 20px 0px;
}

/** ============== FINCARD PELICULAS =================*/

/** ============== NAVEGADOR PAGINAS  =================*/
    .pagination {
        margin-top: 30px;
    }
    
    

/** ============== FIN NAVEGADOR PAGINAS====================*/

/** ============== FORM ADD  CINE====================*/

.formulario-add button[type="submit"] {
  margin-left: 190px;
}

/** ============== FIN FORM ADD  CINE====================*/

/** ============== SELECT GENERO PELICULAS ====================*/
    .buscarGenero {
        width: 250px;
    }

    .form-inline input,select {
        margin-right: 40px;
        
    }

/** ============== FIN SELECT GENERO PELICULAS====================*/

.busqueda {
    margin: 20px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.tableCines thead{
    background-color:#C87D03;
}

.tableCines tbody{
    background-color:#fff;
}

.bg-login {
    
    width: 100%;
    height: 100vh;
   *background: url('../img/bg-login.jpg') 50% 30% no-repeat;
}
.carousel {
    margin: 20px auto 0px auto;
}
.carousel img {
    width: 340px;
    height: 400px;
}
.carousel-div {
    border-style: none;
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 0 15px;
    
}
a:link, a:visited, a:active {
    text-decoration:none;
}
.titleCarousel {
    background-color: #fff;
    position: static;
    display: block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    
}

.slick-dots li button:before {
    color:#fff !important;
    font-size: 20px;
    line-height: 20px;
}

.title-cine {
    color:orange;
    font-family: 'Oswald', sans-serif;

}
.busqueda label {
    color: #fff;
}
.select_cine {
    width: 300px;
    margin: 30px auto 30px auto;
    background-color: transparent;
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
   
}
.option_cine {
    background-color: #000;
    border-radius: 0px;
    font-family: 'Oswald', sans-serif;
    color: #fff;
}

.contenedor-verFuncion {
    *background-color: #efefef;
    height: 100vh;
}

.card-funcion {
   
    margin-top: 30px;
   
    height: 535px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5%;
    align-items: center;
}
.card-funcion2 {
    
    margin-top: 30px;
    
    height: 535px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5%;
    align-items: center;
}
.img-cardfuncion {
    width: 290px;
    height: 370px;
}
.card-funcion h4 {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}
.card-funcion p {
    
    font-size: 13px;
}
.datos-peli {
    margin-top: 10px;
    font-size: 13px;
}
.card-funcion2 h3 {
    margin-top: 10px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
}
#exampleFormControlSelect2 {
    height: 180px;
}

#exampleFormControlSelect2 option {
    height: 40px;
}
.card-funcion2 #cantidad {
    width: 80px;
    display: inline;
}
.pantalla__seleccionButaca {
    text-align: center;
    border: 3px solid #000;
    width: 500px;
    margin: 0px auto 0px auto;
}

.butaca {
    display: inline-block;
    font-size: 25px;
    
    margin: 10px 5px 0px 5px;
   
}
.butaca input[type="checkbox"] {
   display: block;
   margin-left: 4px;
}

.butaca__img {
    text-align: center;
   
}
.container-butacas {
    text-align: center;
}

.card-compra {
    margin: 25px auto 25px auto;
    padding: 20px;
    background-color: #fff;
   width: 500px;
   height: 500px
}
.card-compra strong {
   
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
    margin-top: 15px;
}
.card-compra h2{
    margin-top: 50px;
}

/*===================================================== */

.contenedor {
	
    width: 500px;
    
	margin: 25px auto 25px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* ---------- Estilos Generales de las Tarjetas ----------*/
.tarjeta {
    width: 100%;
	position: relative;
	color: #fff;
	transition: .3s ease all;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	cursor: pointer;
	z-index: 2;
}

.tarjeta.active {
	transform: rotateY(180deg);
}

.tarjeta > div {
	padding: 30px;
	border-radius: 15px;
	min-height: 315px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0 10px 10px 0 rgba(90,116,148,0.3);
}

/* ---------- Tarjeta Delantera ----------*/

.tarjeta .delantera {
	width: 100%;
	background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
	background-size: cover;
}

.delantera .logo-marca {
	text-align: right;
	min-height: 50px;
}

.delantera .logo-marca img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 80px;
}

.delantera .chip {
	width: 100%;
	max-width: 50px;
	margin-bottom: 20px;
}

.delantera .grupo .label {
	font-size: 16px;
	color: #7d8994;
	margin-bottom: 5px;
}

.delantera .grupo .numero,
.delantera .grupo .nombre,
.delantera .grupo .expiracion {
	color: #fff;
	font-size: 22px;
	text-transform: uppercase;
}

.delantera .flexbox {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

/* ---------- Tarjeta Trasera ----------*/
.trasera {
	background: url(../img/bg-tarjeta/bg-tarjeta-02.jpg);
	background-size: cover;
	position: absolute;
	top: 0;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.trasera .barra-magnetica {
	height: 40px;
	background: #000;
	width: 100%;
	position: absolute;
	top: 30px;
	left: 0;
}

.trasera .datos {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
}

.trasera .datos p {
	margin-bottom: 5px;
}

.trasera .datos #firma {
	width: 70%;
}

.trasera .datos #firma .firma {
	height: 40px;
	background: repeating-linear-gradient(skyblue 0, skyblue 5px, orange 5px, orange 10px);
}

.trasera .datos #firma .firma p {
	line-height: 40px;
	font-family: 'Liu Jian Mao Cao', cursive;
	color: #000;
	font-size: 30px;
	padding: 0 10px;
	text-transform: capitalize;
}

.trasera .datos #ccv {
	width: 20%;
}

.trasera .datos #ccv .ccv {
	background: #fff;
	height: 40px;
	color: #000;
	padding: 10px;
	text-align: center;
}

.trasera .leyenda {
	font-size: 14px;
	line-height: 24px;
}

.trasera .link-banco {
	font-size: 14px;
	color: #fff;
}

/* ---------- Contenedor Boton ----------*/
.contenedor-btn .btn-abrir-formulario {
	width: 50px;
	height: 50px;
	font-size: 20px;
	line-height: 20px;
	background: #2364d2;
	color: #fff;
	position: relative;
	top: -25px;
	z-index: 3;
	border-radius: 100%;
	box-shadow: -5px 4px 8px rgba(24,56,182,0.4);
	padding: 5px;
	transition: all .2s ease;
	border: none;
	cursor: pointer;
}

.contenedor-btn .btn-abrir-formulario:hover {
	background: #1850b1;
}

.contenedor-btn .btn-abrir-formulario.active {
	transform: rotate(45deg);
}

/* ---------- Formulario Tarjeta ----------*/
.formulario-tarjeta {
	background: #fff;
	width: 100%;
	max-width: 700px;
	padding: 150px 30px 30px 30px;
	border-radius: 10px;
	position: relative;
	top: -150px;
	z-index: 1;
	clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
	transition: clip-path .3s ease-out;
}

.formulario-tarjeta.active {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formulario-tarjeta label {
	display: block;
	color: #7d8994;
	margin-bottom: 5px;
	font-size: 16px;
}

.formulario-tarjeta input,
.formulario-tarjeta select,
.btn-enviar {
	border: 2px solid #CED6E0;
	font-size: 18px;
	height: 50px;
	width: 100%;
	padding: 5px 12px;
	transition: .3s ease all;
	border-radius: 5px;
}

.formulario-tarjeta input:hover,
.formulario-tarjeta select:hover {
	border: 2px solid #93BDED;
}

.formulario-tarjeta input:focus,
.formulario-tarjeta select:focus {
	outline: rgb(4,4,4);
	box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}

.formulario-tarjeta input {
	margin-bottom: 20px;
	text-transform: uppercase;
}

.formulario-tarjeta .flexbox {
	display: flex;
	justify-content: space-between;
}

.formulario-tarjeta .expira {
	width: 100%;
}

.formulario-tarjeta .ccv {
	min-width: 100px;
}

.formulario-tarjeta .grupo-select {
	width: 100%;
	margin-right: 15px;
	position: relative;
}

.formulario-tarjeta select {
	-webkit-appearance: none;
}

.formulario-tarjeta .grupo-select i {
	position: absolute;
	color: #CED6E0;
	top: 18px;
	right: 15px;
	transition: .3s ease all;
}

.formulario-tarjeta .grupo-select:hover i {
	color: #93bfed;
}

.formulario-tarjeta .btn-enviar {
	border: none;
	padding: 10px;
	font-size: 22px;
	color: #fff;
	background: #2364d2;
	box-shadow: 2px 2px 10px 0px rgba(0,85,212,0.4);
	cursor: pointer;
}

.formulario-tarjeta .btn-enviar:hover {
	background: #1850b1;
}

.entrada {
    border: 8px dashed orange;
    width: 600px;
    height: 300px;
    background: url('../img/spikes.png');
    margin: 15px auto 0px auto;
}

.entrada img {
    margin-left: 490px;
    margin-top: -55px;

}
.entrada .entradaqrcode {
    position: absolute;
    left: 400px;
    margin-top: -58px;
}
.entrada .title-cine {
    text-align: center;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 45px;
}
.entrada__titulo {
    text-align: center;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 35px;
}

.entrada__horaYdia {
    text-align: center;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.entrada__precio {
    position: absolute;
    right: 400px;
    margin-top: 7px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 45px;
}

.entrada .cine_y_sala {
    margin-top: 22px;
    color: #000;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}

.entrada__butaca {
    position:absolute;
    left: 640px;
    text-align: center;
    margin-top: -55px;
}

